<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" ng-controller="signupController">
      <h2 class="text-center">Signup</h2>
      <form ng-submit="createUser()">
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="username">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email Address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" ng-model="email">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password">
        </div>
        <div class="text-center">
          <button type="submit" ng-click="sayHello()" class="btn btn-default">Register</button>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>