<h3>Public Vacations</h3>

<table class="table table-condensed table-striped table-hover">
	<thead>
		<th style="width:15%">Vacation</th>
		<th style="width:10%">Uploaded By</th>
		<th style="width:55%">Description</th>
		<th style="width:10%">Start Date</th>
		<th style="width:10%">End Date</th>
	</thead>
	<tbody>
		<tr ng-repeat="vacation in publicVacations | orderBy:'endDate':'true'">
			<td style="width:15%">{{vacation.title}}</td>
			<td style="width:10%">{{vacation.users}}</td>
			<td style="width:55%">{{vacation.description}}</td>
			<td style="width:10%">{{vacation.startDate | date:'shortDate'}}</td>
			<td style="width:10%">{{vacation.endDate | date:'shortDate'}}</td>
		</tr>
	</tbody>
</table>