<h3>
	My Vacations 
	<button class="btn btn-sm btn-info" ng-click="newVacationClicked()">Create a new vacation</button>
</h3>

<table class="table table-condensed table-striped table-hover">
	<thead>
		<th style="width:15%">Vacation</th>
		<th style="width:60%">Description</th>
		<th style="width:10%">Start Date</th>
		<th style="width:10%">End Date</th>
		<th style="width:5%"></th>
	</thead>
	<tbody>
		<tr ng-repeat="vacation in vacations | orderBy:'endDate':'true'">
			<td style="width:15%">
				<span style="cursor:pointer" ng-click="view(vacation)"><strong>{{vacation.title}}</strong></span>
			</td>
			<td style="width:60%">{{vacation.description}}</td>
			<td style="width:10%">{{vacation.startDate | date:'shortDate'}}</td>
			<td style="width:10%">{{vacation.endDate | date:'shortDate'}}</td>
			<td style="width:5%"><button class='btn btn-xs btn-danger' ng-click="remove(vacation)">X</button></td>
		</tr>
	</tbody>
</table>