<h3>{{vacation.title}}</h3>
<p>{{vacation.description}}</p>
<hr>

<div ng-if="creator" ng-file-drop ng-file-select ng-model="pictureUploads" ng-change="upload(pictureUploads)" class="jumbotron text-center" drag-over-class="dragover" ng-multiple="true" allow-dir="true" ng-accept="'.jpg,.jpeg'">
    <span>
    	Drop pictures here or click to upload
    </span>
</div>
<div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>

<div class="row" style="margin-top:3em;" ng-repeat="rows in chunkedData">
	<div class="col-md-4 text-center" ng-repeat="picture in rows">
		<img ng-if="creator" style="width: 100%;" ng-src="{{filePath(picture.path)}}" ng-click="setTempPicture(picture)" data-toggle="modal" data-target="#captionDetailModal" data-backdrop="static" />
    <img ng-if="!creator" style="width: 100%;" ng-src="{{filePath(picture.path)}}" />
		<p>{{picture.caption}}</p>
	</div>
</div>

<!-- Editing Modal -->
<div class="modal fade" id="captionDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="pull-right"><button type="button" class="btn btn-xs btn-danger" ng-click="dismissModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button></span>
        <h4 class="modal-title" id="myModalLabel">Edit Caption</h4>
      </div>
      <div class="modal-body">
        <form ng-submit='captionSubmitted(tempPicture.caption)'>
		  <div class="form-group">
		    <label>Caption</label>
		    <textarea rows="2" ng-model="tempPicture.caption" class="form-control" style="resize:none;overflow:scroll"></textarea>
		  </div>
		  <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" ng-click="dismissModal()">Cancel</button>
		</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
