extends layout

block content
  h1= title
  p Welcome to #{title}
  form(role="form", action="/api/v1/photo", method="POST", enctype="multipart/form-data")
    input(type='file', name="fileupload")
    input(type='submit', value='upload')
